In [1]:
'Himanshi Shakya'

'Himanshi Shakya'

In [3]:
986788*659873486634862

651155238129442203256

In [6]:
a = 10
b = 3

In [7]:
name = "Himanshi"

In [4]:
age =20
is_prime = False 
pi = 3.14
data = None

In [5]:
name = 'Alexander'
movies = ['Avengers','Harry Potter','Inception']
car = {
    'brand' : 'Tata',
    'model' : 'Nexon',
    'year' : 2023,
    'is_electric' : False,
}

In [6]:
10+20

30

In [7]:
10-5

5

In [8]:
10*20

200

In [9]:
10/3

3.3333333333333335

In [10]:
10%20

10

In [11]:
10//3

3

In [12]:
10**20

100000000000000000000

In [13]:
x = 5

In [14]:
x +=5

In [15]:
x-=5

In [16]:
x*=5

In [17]:
x/=5

In [18]:
x//=5

In [19]:
x**=5

In [20]:
word = 'Apple'
len(word)

5

In [21]:
len(word)>10

False

In [22]:
len(word)<10

True

In [23]:
'ðŸ˜Š' != 'ðŸ˜‰'

True

In [26]:
name1 = 'Ajay'
name2 = 'Vijay'

In [34]:
len(name1) < len(name2)  and name == 'Ajay'

True

In [32]:
10 > 5 and 5 > 3

True

In [35]:
10 > 5 or 5 > 15

True

In [37]:
12*4 > 20 or 5*3 > 10 or 10*2 < 20

True

In [38]:
movies

['Avengers', 'Harry Potter', 'Inception']

In [39]:
'pk' in movies

False

In [40]:
'Avengers' in movies

True

In [41]:
x =[1,2,1,1,7,5,6,3,2,6]
6 in x

True

In [42]:
10 in x

False

In [43]:
x = [1,2,3]
y = x
z = [1,2,3]
print(x,y,z)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [44]:
print(x  is y)
print(x is z)
print(z is y)

True
False
False