In [1]:
name = input('Enter your name')

In [2]:
college = input('Enter your college name')
city = input('Enter your city')

In [3]:
print( name, college, city)

Himanshi JNPG Lucknow

In [1]:
print('this is an apple')

this is an apple

In [13]:
qty = 10
price= 90*qty
print ('this is an apple','it costs',price,'rupees')

this is an apple it costs 900 rupees

In [14]:
print('this is an 🍎.',qty,'kg costs',price,'rupees')

this is an 🍎. 10 kg costs 900 rupees

f-string

In [19]:
f"this is an apple. {qty} kg costs {price} rupees"

'this is an apple. 10 kg costs 900 rupees'

In [24]:
x=10
y=3
z=x/y
print(f'the answer is {z:.2f}')
print(f'{x}/{y}={z:.3f}')
print('this was good')

the answer is 3.33
10/3=3.333
this was good

In [25]:
n1 , n2 , n3 ='Raj','Rajan','Rajeshwari'
print(n1, len(n1), 'chars')
print(n2, len(n2),'chars')
print(n3, len(n3),'chars')

Raj 3 chars
Rajan 5 chars
Rajeshwari 10 chars

In [27]:
print(f'{n1:15} {len(n1)} chars')
print(f'{n2:15} {len(n2)} chars')
print(f'{n3:15} {len(n3)} chars')

Raj             3 chars
Rajan           5 chars
Rajeshwari      10 chars

In [32]:
print(f'{n1:^9} {len(n1)} chars')
print(f'{n2:^9} {len(n2)} chars')
print(f'{n3:^9} {len(n3)} chars')

   Raj    3 chars
  Rajan   5 chars
Rajeshwari 10 chars

In [31]:
print(f'{n1:>9} {len(n1)} chars')
print(f'{n2:>9} {len(n2)} chars')
print(f'{n3:>9} {len(n3)} chars')

      Raj 3 chars
    Rajan 5 chars
Rajeshwari 10 chars

In [33]:
x = 10
float(x)

10.0

In [38]:
x = '10.5'
float(x)

10.5

In [40]:
data = '1000101'
int(data)
data = '1001'
print(int(data,2))

9

In [41]:
data = 1290310
str(data)

'1290310'

In [43]:
a = int(input('Enter A:'))
b = int(input('Enter B:'))
a + b

24

In [44]:
'1000' + '2000'

'10002000'

# wap to find out the simple interest, by taking user input fot principal ,rate and time

In [51]:
principal = int(input('Enter principal'))
rate = float(input('Enter rate'))
time =int(input('Enter time'))
si = principal * rate * time /100
print(f'Principal ={principal}')
print(f'Rate = {rate}%')
print(f'years ={time}')
print(f'Simple Interest ={si:.2f}')

Principal =12
Rate = 23.0%
years =56
Simple Interest =154.56