# data structures in python
- list 
   - indexed, ordered, *mutable*, allows duplicate members,[]
- tuple
   - indexed, ordered, *immutable*, allows duplicate members,()
- set
   - unindexed, *unordered, mutable, **unique values only*,{}
- dict
   - *ordered, mutable, **unique keys only*,**allows duplicate values,{key:value}

# list
 - create a list
- indexing and slicing
- methods
- traversal

In [1]:
x = []#empty list
a = [1,2,3,4,5]#list of integers
names = ['Alex','Arti','Anupam']#list of strings
mixed = [1,'Alex',2,'Arti']
nested = [1,[2,3],4]#nested list

In [3]:
# creating a duplicated list
a = [1,2,3]
b =[a,a,a]
print(b)
# another way to creatye a duplicated list
c = a * 5
print(c)
#another one
d = [1] * 10
print(d)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[0])#first element
print(numbers[-1])#last element
print(numbers[:5])# first five elements
print(numbers[-5:])#last indexed elements
print(numbers[1::2])#odd indexed elements
print(numbers[::2])#even indexed elements
print(numbers[::-1])#reverse the list
print(numbers[6::-1])#first seven 
print(numbers[:7][::-1])#first seven

1
10
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]

# methods in list - 11 
- adding elements
    - append 
    - extend
    - insert
- removing elements
    - pop 
    - remove
    - clear
- utility methods
    - index
    - count 
    - sort
    - reverse
    - copy

In [16]:
x.append('apple')
print(x)

['apple', 'apple', 'apple', 'apple']

In [17]:
x.append('banana')
print(x)

['apple', 'apple', 'apple', 'apple', 'banana']

In [18]:
x.append(12)
print(x)

['apple', 'apple', 'apple', 'apple', 'banana', 12]

In [19]:
books = []
for i in range (5):
    books.append(input('Enter a book'))
print(books)

['the mind ', 'shakespear ', 'cindrella', 'harry potter', 'tarzen']

In [20]:
more_books =['Harry Potter','Lord Of Rings','The Hobbit']

In [21]:
books

['the mind ', 'shakespear ', 'cindrella', 'harry potter', 'tarzen']

In [22]:
books.extend(more_books)
books

['the mind ',
 'shakespear ',
 'cindrella',
 'harry potter',
 'tarzen',
 'Harry Potter',
 'Lord Of Rings',
 'The Hobbit']

In [23]:
books[-3] = "Harry Potter And The sorcerer's stone " #replace
books

['the mind ',
 'shakespear ',
 'cindrella',
 'harry potter',
 'tarzen',
 "Harry Potter And The sorcerer's stone ",
 'Lord Of Rings',
 'The Hobbit']

In [24]:
books.insert(-2,'Harry Potter And The sorcerers stone')
books

['the mind ',
 'shakespear ',
 'cindrella',
 'harry potter',
 'tarzen',
 "Harry Potter And The sorcerer's stone ",
 'Harry Potter And The sorcerers stone',
 'Lord Of Rings',
 'The Hobbit']

In [28]:
if 'cindrella' in books :
    books.remove('cindrella')

In [29]:
books.pop()#remove last elements

'The Hobbit'

In [31]:
books.pop(3)#remove element at index 3

"Harry Potter And The sorcerer's stone "