In [1]:
#msg = 'the hippo was 5' tall'
msg ='the hippo was 5\' tall '
print(msg)
msg ="the hippo was 5'tall"
print(msg)

the hippo was 5' tall
the hippo was 5'tall

In [2]:
name ='alexander'
print(len(name))
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[5])
print(name[-1])
print(name[-4])

9
a
l
e
x
n
r
n

In [4]:
print(name[0], name[1],name[2],name[3], sep='_')

a_l_e_x

slicing

In [6]:
name[0:5]#get the values at 0,1,2,3,4(5 is not included)

'alexa'

In [9]:
name[0:9]#get the values at 0,1,2,3,4(5 is not included)

'alexander'

In [10]:
n2='Leonardo da vinci'
print(n2[:8])
print(n2[-5:1])
print(n2[-8:])
print(n2[-8:-6])
print(n2[9:11])
print(n2[9:-6])
print(n2[-8:11])

Leonardo

da vinci
da
da
da
da

In [12]:
n3 ='Vijay Deenanath Chauhan'
print(n3[0:6])
print(n3[6:15])
print(n3[16:])

Vijay
Deenanath
Chauhan

slicing with steps

In [13]:
n3[::]

'Vijay Deenanath Chauhan'

In [14]:
n3[1::2]

'ia ennt hua'

In [15]:
n2[1: 10: 3] #1 , 4 , 7,(stop at 10)

'eao'

In [16]:
n2[::-1] #reverse the string

'icniv ad odranoeL'

In [18]:
quote = '''this is a quote from brandon sanderson,
"the purpose of a storyteller is not to tell you how to think ,
but to give you questions think upon .'''
print(quote)

print('first 50 letters')
print(quote[:50])

this is a quote from brandon sanderson,
"the purpose of a storyteller is not to tell you how to think ,
but to give you questions think upon .
first 50 letters
this is a quote from brandon sanderson,
"the purpo

hw questions

In [19]:
#fibonacci sequence 1,2, 4 , 5, 8 ,13,21
a,b = 1,2
print(a,b, end=' ')
for i in range (10):
    c = a+b
    print(c, end=' ')
    #swap values
    a = b #a=3
    b = c #b = 5

1 2 3 5 8 13 21 34 55 89 144 233

In [20]:
print(ord('A'),ord('a'),ord('😊'))
print(chr(65),chr(97),chr(35)) #unicode

65 97 128522
A a #